@import "../../commonFiles/navbar.css";
@import "../../commonFiles/sidebar.css";
@import "../../commonFiles/commonStyle.css";
@import "../../commonFiles/base.css";

.container-border {
  border: 2px solid var(--light-grey-border);
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
}
.responsive,
.responsive-max-width {
  width: 100%;
  height: auto;
  margin: auto;
}
.responsive-image {
  width: 50%;
  height: 50%;
  margin: auto;
}
.responsive-max-width {
  max-width: 100%;
}
