.wrapper {
  margin-top: 4rem;
  display: flex;
  position: relative;
}
.wrapper .sidebar {
  position: fixed;
  width: 12.5rem;
  height: 100%;
  padding: 1rem 0;
}
.wrapper .sidebar h2 {
  color: #1e293b;
  text-align: center;
  padding: -0.5rem 0rem 0.8rem;
}
.wrapper .sidebar ul li {
  text-decoration: none;
  padding: 0.7rem 3rem;
}
.wrapper .sidebar ul li a {
  font-size: 1rem;
  color: #1e293b;
  text-decoration: none;
  display: block;
}
.wrapper .sidebar ul li:hover {
  background: #cffafe;
}

.wrapper .main_content {
  margin-left: 200px;
  width: 100%;
}
.wrapper .main_content .header {
  padding: 20px;
  background: #fff;
}
.wrapper .main_content .info {
  margin: 20px;
}
