<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="button.css" />
    <title>Main Page</title>
  </head>
  <body>
    <header>
      <div class="container row">
        <button class="nav-toggle" aria-label="open navigation">
          <span class="hamburger"></span>
        </button>
        <a class="logo" href="index.html">
          <img
            src="../../assets/brand-logo.png"
            alt="conquering responsive layouts"
            height="43"
          />ROBOCON
        </a>
        <nav class="nav">
          <ul class="nav__list nav__list--primary">
            <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
            <li class="nav__item">
              <a href="#" class="nav__link">Documentation</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">
                <i class="fab fa-github fass"></i
              ></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="wrapper">
      <div class="sidebar">
        <h2>Components</h2>
        <ul>
          <li><a href="#">Alerts</a></li>
          <li><a href="#">Avatar</a></li>
          <li><a href="#">Badge</a></li>
          <li><a href="#">Button</a></li>
          <li><a href="#">Card</a></li>
          <li><a href="#">Modal</a></li>
          <li><a href="#">Navigation</a></li>
          <li><a href="#">Rating</a></li>
          <li><a href="#">Toast</a></li>
        </ul>
      </div>
      <div class="main_content">
        <div class="info">
          <h1>Buttons</h1>
          <h2>Simple Buttons</h2>
          <p>
            Buttons are used to communicate a state that affects a system,
            feature or page.
          </p>
          <div class="buttons btn-container">
            <button class="btn btn-primary">Primary</button>
            <button class="btn btn-success">Success</button>
            <button class="btn btn-warning">Warning</button>
            <button class="btn btn-danger">Danger</button>
          </div>
          <div class="iframe-style">
            <iframe
              src="https://www.thiscodeworks.com/embed/61fb97d06ab14d0015c32d1b"
              style="width: 100%; height: 138px"
              frameborder="0"
            ></iframe>
          </div>
          <h2>Outline Buttons</h2>
          <p>
            Outlines buttons are transparent in nature with just solid border.
          </p>
          <div class="buttons btn-container">
            <button class="btn btn-outline-primary">Primary</button>
            <button class="btn btn-outline-success">Success</button>
            <button class="btn btn-outline-warning">Warning</button>
            <button class="btn btn-outline-danger">Danger</button>
          </div>
          <div class="iframe-style">
            <iframe
              src="https://www.thiscodeworks.com/embed/61fb98096ab14d0015c32d1c"
              style="width: 100%; height: 138px"
              frameborder="0"
            ></iframe>
          </div>
          <h2>Link Buttons</h2>
          <p>Link buttons is used to link different pages or sites</p>
          <div class="link-btn btn-container">
            <a href="" className="link p-1">Go to Page-1 </a>
            <a href="" className="link p-1">See More</a>
          </div>
          <div class="iframe-style">
            <iframe
              src="https://www.thiscodeworks.com/embed/61fb99ce6ab14d0015c32d1e"
              style="width: 100%; height: 112px"
              frameborder="0"
            ></iframe>
          </div>
          <h2>Icon Button</h2>
          <p>Icons can also act as buttons.</p>
          <div class="icon-btns btn-container">
            <a href="https://fontawesome.com/v5.15/icons/bell?style=solid">
              <i class="fas fa-bell fa-2x"></i>
            </a>
            <a href="https://fontawesome.com/v5.15/icons/bell?style=solid">
              <i class="fas fa-search fa-2x"></i>
            </a>
            <a href="https://fontawesome.com/v5.15/icons/bell?style=solid">
              <i class="fas fa-trash fa-2x"></i>
            </a>
          </div>
          <div class="iframe-style">
            <iframe
              src="https://www.thiscodeworks.com/embed/61fb98476ab14d0015c32d1d"
              style="width: 100%; height: 203px"
              frameborder="0"
            ></iframe>
          </div>
          <h2>Floating Action Button</h2>
          <p>
            A floating action button performs the primary, or most common,
            action on a screen.
          </p>
          <div class="btn-container">
            <a class="btn floating-btn"><i class="fas fa-plus"></i></a>
          </div>
          <div class="iframe-style">
            <iframe
              src="https://www.thiscodeworks.com/embed/61fc49366ab14d0015c32e16"
              style="width: 100%; height: 99px"
              frameborder="0"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
