<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="navigation.css" />
    <title>Navigation Component</title>
  </head>
  <body>
    <header>
      <div class="container row">
        <button class="nav-toggle" aria-label="open navigation">
          <span class="hamburger"></span>
        </button>
        <a class="logo" href="index.html">
          <img
            src="../../assets/brand-logo.png"
            alt="conquering responsive layouts"
            height="43"
          />ROBOCON
        </a>
        <nav class="nav">
          <ul class="nav__list nav__list--primary">
            <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
            <li class="nav__item">
              <a href="#" class="nav__link">Documentation</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">
                <i class="fab fa-github fass"></i
              ></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="wrapper">
      <div class="sidebar">
        <h2>Components</h2>
        <ul>
          <li><a href="#">Alerts</a></li>
          <li><a href="#">Avatar</a></li>
          <li><a href="#">Badge</a></li>
          <li><a href="#">Button</a></li>
          <li><a href="#">Card</a></li>
          <li><a href="#">Modal</a></li>
          <li><a href="#">Navigation</a></li>
          <li><a href="#">Rating</a></li>
          <li><a href="#">Toast</a></li>
        </ul>
      </div>
      <div class="main_content">
        <div class="info">
          <h1>Navigation</h1>
          <h2>Top Navigation Bar</h2>
          <p>
            The navigation menu consists of internal links; Links to all the
            pages that you want your visitors to read.
          </p>
          <div class="navigation-border">
            <!-- Navigation -->
            <div class="navbar">
              <img src="../../assets/brand-logo.png" alt="" />
              <div class="nav-items">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Shop </a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
                <i class="far fa-heart fa-lg"></i>
                <i class="fas fa-shopping-cart fa-lg"></i>
              </div>
            </div>
          </div>
          <div class="iframe-style">
            <iframe
              src="https://www.thiscodeworks.com/embed/620023914dd44f0015f3cca4"
              style="width: 100%; height: 268px"
              frameborder="0"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
