
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}
h2 {
  font-size: 1.8rem;
  font-weight: 400;
  padding: 1rem;
}
p {
  font-size: 1.2rem;
  padding: 0.3rem 1rem;
}

.section-title {
  color: #1e293b;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #23424a;
  font-weight: 400;
  background: #06b6d4;
  font-size: 1.5rem;
  padding: 0.5em 1em;
  border-radius: 12px;
  margin: 0.2em;
}
.btn-secondary {
  border: 2px solid #0891b2;
  background-color: white;
}

.btn:hover,
.btn:focus {
  color: #fff;
  background-color: #0891b2;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

header {
  background: #06b6d4;
  color: #164e63;
  padding: 1em 0;
  text-align: center;
}

.nav {
  width: 100%;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: #072a2d;
  color: white;
  transition: opacity 250ms ease;

  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  font-size: 1.5rem;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__item {
  margin-top: 0.5em;
}
.nav__link {
  color: #fff;
  color: #164e63;
 text-decoration: none;
}
.nav__list--primary {
  margin-bottom: 2em;
}
.nav__link--button {
  padding: 0.25em 0.75em;
  background: #fff;
  color: #23424a;
  border-radius: 100px;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.65;
}
.logo {
  display: flex;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 700;
  color: #164e63;
}

.hero {
  padding: 70px 0 20px;
  color: #1e293b;

 
}
/* iframe */
iframe {
  width: 2rem;
}
.hero__img {
  margin-top: 2em;
}

.hero p {
  margin-bottom: 3em;
}

.main {
  margin-top: 3em;
}

.sidebar {
  padding: 1em;
  text-align: center;
 
}

@media (min-width: 800px) {
  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
    display: flex;
    justify-content: flex-end;
    height: auto;
    align-items: center;
    position: relative;
  }

  .nav__list {
    display: flex;
    margin: 0;
  }
  .nav__item {
    margin: 0 0 0 1.5em;
  }
  /* .nav__list--primary{
    margin:0 auto; */
  .row {
    display: flex;
    justify-content: space-between;
  }

  .hero__text {
    width: 62%;
  }

  .hero__img {
    width: 32%;
    align-self: flex-start;
    margin: 0;
  }

  .primary-content {
    width: 62%;
  }

  .sidebar {
    width: 32%;
  }
}
footer {
  /* font-size: 2rem; */
  background-color: #1e293b;
  position: absolute;
  bottom: 0;
  padding: 0.4rem;
  width: 100%;
  color: #06b6d4;
  text-align: center;
  position: relative;
  margin: 0 auto;
}
.footer-para {
  margin-bottom: 0px;
}

.fass {
  font-size: 2rem;
  margin: 0rem 0.3rem;
  /* padding: 3rem; */
}
.footer-text {
  margin-bottom: -1rem;
}
