<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="text-utilities.css" />
    <title>Text Utilities Component</title>
  </head>
  <body>
    <header>
      <div class="container row">
        <button class="nav-toggle" aria-label="open navigation">
          <span class="hamburger"></span>
        </button>
        <a class="logo" href="index.html">
          <img
            src="../../assets/brand-logo.png"
            alt="conquering responsive layouts"
            height="43"
          />ROBOCON
        </a>
        <nav class="nav">
          <ul class="nav__list nav__list--primary">
            <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
            <li class="nav__item">
              <a href="#" class="nav__link">Documentation</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">
                <i class="fab fa-github fass"></i
              ></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="wrapper">
      <div class="sidebar">
        <h2>Components</h2>
        <ul>
          <li><a href="#">Alerts</a></li>
          <li><a href="#">Avatar</a></li>
          <li><a href="#">Badge</a></li>
          <li><a href="#">Button</a></li>
          <li><a href="#">Card</a></li>
          <li><a href="#">Modal</a></li>
          <li><a href="#">Navigation</a></li>
          <li><a href="#">Rating</a></li>
          <li><a href="#">Toast</a></li>
        </ul>
      </div>
      <div class="main_content">
        <div class="info">
          <h1>Text Utilties</h1>
          <h2>Different styles of Text</h2>
          <p>
            Text utilities are a group of text modifiers which change text
            alignment, wrapping, letter capitalization, weight, and italics.
          </p>
          <div class="text-utilities-border">
            <h1 class="h1-heading padding-text">This is h1 Heading</h1>
            <h2 class="h2-heading padding-text">This is h2 Heading</h2>
            <h3 class="h3-heading padding-text">This is h3 Heading</h3>
            <h4 class="h4-heading padding-text">This is h4 Heading</h4>
            <h5 class="h5-heading padding-text">This is h5 Heading</h5>
            <h6 class="h6-heading padding-text">This is h6 Heading</h6>
            <p>This is para-text</p>
            <p class="grey">This is grey text</p>
            <p class="strike">This is grey text</p>
            <p class="center">This is center text</p>
          </div>
          <div class="iframe-style">
            <iframe
              src="https://www.thiscodeworks.com/embed/62015563ed723a001551c000"
              style="width: 100%; height: 216px"
              frameborder="0"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
