@import "../../commonFiles/navbar.css";
@import "../../commonFiles/sidebar.css";
@import "../../commonFiles/commonStyle.css";
@import "../../commonFiles/base.css";

.snackbar-border {
  border: 2px solid var(--light-grey-border);
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
}

.snackbar-area {
  position: relative;
}

.btn {
  margin: 5rem;
  padding: 0.6rem 1.2rem;
  border-radius: var(--size-s-5);
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
}

.snackbar {
  text-align: center;
  padding: 20px 20px;
  background-color: var(--secondary-color);
  color: var(--white);
  margin: var(--size-s-5);
  border-radius: var(--size-s-5);
}

.span-action {
  padding: 10px;
  color: var(--primary-color);
  cursor: pointer;
  border-radius: var(--size-s-5);
}

.snackbar-icon {
  align-items: center;
  text-align: center;
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
}

.hide {
  display: none;
}

.leading {
  position: absolute;
  left: 35rem;
  bottom: 0;
}
.baseline {
  position: absolute;
  bottom: 0;
  left: 0;
}
