@import "../../commonFiles/navbar.css";
@import "../../commonFiles/sidebar.css";
@import "../../commonFiles/commonStyle.css";
@import "../../commonFiles/base.css";

.alerts-container {
  border: 2px solid rgb(209, 207, 207);
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
}
.alerts {
  width: 100%;
  color: white;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  font-size: 1.1rem;
}
/* primary alert */
.alert-primary {
  background-color: var(--light-bg-blue);
  color: var(--dark-blue);
  border: 1px solid var(--light-blue);
}
/* Success alert */
.alert-success {
  background-color: var(--light-bg-green);
  color: var(--dark-green);
  border: 1px solid var(--light-green);
}
/* Warning-alert */
.alert-warning {
  background-color: var(--light-bg-yellow);
  color: var(--dark-yellow);
  border: 1px solid var(--light-yellow);
}
/* Danger-alert */
.alert-danger {
  background-color: var(--light-bg-red);
  color: var(--dark-red);
  border: 1px solid var(--light-red);
}
/* Outline-primary */
.outline-primary {
  background: var(--white);
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
}
/* Outline-success */
.outline-success {
  background-color: var(--white);
  color: var(--dark-green);
  border: 1px solid var(--dark-green);
}
/* Outline-warning */
.outline-warning {
  background-color: var(--white);
  color: var(--dark-yellow);
  border: 1px solid var(--dark-yellow);
}
/* Outline-danger */
.outline-danger {
  background-color: var(--white);
  color: var(--dark-red);
  border: 1px solid var(--dark-red);
}
.alerts-error {
  position: relative;
}
.alerts-error button {
  padding: 2px;
  position: absolute;
  right: 0;
  top: 10px;
  margin-right: 10px;
}
.close-btn {
  border: 1px solid var(--dark-grey);
  padding: 20px;
  color: var(--dark-grey);
}
