@import "../../commonFiles/navbar.css";
@import "../../commonFiles/sidebar.css";
@import "../../commonFiles/commonStyle.css";
.alerts-container {
  border: 2px solid rgb(209, 207, 207);
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
}
.alerts {
  font-size: 1.3rem;
  width: 100%;
  color: white;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  font-size: 1.1rem;
}
/* primary alert */
.alert-primary {
  background-color: #cfe2ff;
  color: #084fb9;
  border: 1px solid #c4dcff;
}
/* Success alert */
.alert-success {
  background-color: #d1e7dd;
  color: #225132;
  border: 1px solid #c7e2d5;
}
/* Warning-alert */
.alert-warning {
  background-color: #fff3cd;
  color: #664d03;
  border: 1px solid #ffecb5;
}
/* Danger-alert */
.alert-danger {
  background-color: #f8d7da;
  color: #842029;
  border: 1px solid #f5c2c7;
}
/* Outline-primary */
.outline-primary {
  background: #fff;
  color: #084fb9;
  border: 1px solid #084fb9;
}
/* Outline-success */
.outline-success {
  background-color: #fff;
  color: #225132;
  border: 1px solid #225132;
}

/* Outline-warning */
.outline-warning {
  background-color: #fff;
  color: #664d03;
  border: 1px solid #664d03;
}
/* Outline-danger */
.outline-danger {
  background-color: #fff;
  color: #842029;
  border: 1px solid #842029;
}
.alerts-error {
  position: relative;
}
.alerts-error button {
  padding: 2px;
  position: absolute;
  right: 0;
  top: 10px;
  margin-right: 10px;
}
.close-btn {
  border: 1px solid darkgray;
  padding: 20px;
  color: darkgray;
}
